
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
      <h1 style="font-family:verdana;text-align:center;color:#1965e4">FPTBookStore Management</h1>
        <p style="font-family:Verdana;text-align:center;color:#808080">Welcome to Management Page </p>
  

